
.uk-component-select {
  /* Default width of text input is 20 chars, this is the em estimate of that */
  min-width: 11.428571428571em;

  /* @TODO temporary */
  * {
    box-sizing: border-box;
  }

  .uk-component-select__clear {
    position: absolute;
    top: $form-border-width;
    right: $form-border-width;
    padding: $form-padding;
  }
}

.uk-component-select__aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.uk-component-select__delete {
  line-height: $badge-line-height - 4;
  height: $badge-line-height - 2;
}

.uk-component-select__control {
  /* Inheriting from UIkit form.scss */
  /* 1 */
  box-sizing: border-box;
  /* 2 */
  margin: 0;
  /* 3 */
  border-radius: 0;
  /* 4 */
  font: inherit;
  color: inherit;

  /* 1 */
  height: $form-height;
  /* 2 */
  max-width: 100%;
  /* 3 */
  /* padding: $form-padding; */

  /* 4 */
  border: $form-border-width solid $form-border;
  background: $form-background;
  color: $form-color;
  -webkit-transition: all 0.2s linear;
  -webkit-transition-property: border, background, color, box-shadow, padding;
  transition: all 0.2s linear;
  transition-property: border, background, color, box-shadow, padding;
  @include hook-form();

  /* Inheriting from react-select */
  width: 100%;

  // Focus state
  .uk-component-select--focus & {
      border-color: $form-focus-border;
      outline: 0;
      background: $form-focus-background;
      color: $form-focus-color;
      @include hook-form-focus();
  }

  // Disabled state
  .uk-component-select--disabled & {
      border-color: $form-disabled-border;
      background-color: $form-disabled-background;
      color: $form-disabled-color;
      @include hook-form-disabled();
  }

  // Selected value state
  .has-value & {
    padding-right: 5px;
  }
}

.uk-component-select__values,
.uk-component-select__value {
  display: inline-block;
}

.uk-component-select__values {
  position: relative;
  padding: $form-padding;
  padding-top: 0;
  padding-bottom: 0;
}

.uk-component-select__value {
  padding: $form-padding;
  padding-left: 0;
  padding-right: 2px;
  margin-right: 3px;
}

.uk-component-select__placeholder {
  color: $form-placeholder-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: $form-padding;
}

.uk-component-select__input {
  display: inline-block;
  vertical-align: middle;

  > input {
    /* stylelint-disable no-important */
    height: initial !important;
    border-width: 0px !important;
    padding-left: 0px !important;
    /* stylelint-enable */

    border-color: transparent !important;
    border-style: $form-blank-border-style !important;
    background: none !important;
    @include hook-form-blank();
  }
}
